.state-btn
{
    font-weight:        700;
    color:              #FFFFFF;
    font-size:          1.5rem;
    line-height:        2rem;
    border-radius:      1rem;
    padding-top:        1rem;
    padding-bottom:     1rem;
    padding-left:       1rem;
    padding-right:      1rem;
}

.cancel-btn
{
    font-weight:        700;
    background-color:   #FF0000;
    color:              #FFFFFF;
    font-size:          1.5rem;
    line-height:        2rem;
    border-radius:      1rem;
    padding-top:        1rem;
    padding-bottom:     1rem;
    padding-left:       1rem;
    padding-right:      1rem;
}

.center-white
{
    font-weight:        700;
    color:              #FFFFFF;
    font-size:          2rem;
    text-align:         center;
    line-height:        75px;
}