.classic-btn
{
    font-weight:        500;
    background-color:   #552fff;
    color:              #FFFFFF;
    font-size:          1.5rem;
    line-height:        2rem;
    border-radius:      1rem;
    padding-top:        1rem;
    padding-bottom:     1rem;
    padding-left:       1rem;
    padding-right:      1rem;
    text-align:         center;
    display:            block;
    margin-left:        auto;
    margin-right:       auto;
}

.state-btn
{
    font-weight:        700;
    color:              #FFFFFF;
    font-size:          1.5rem;
    line-height:        2rem;
    border-radius:      1rem;
    padding-top:        1rem;
    padding-bottom:     1rem;
    padding-left:       1rem;
    padding-right:      1rem;
}

.cancel-btn
{
    font-weight:        700;
    background-color:   #FF0000;
    color:              #FFFFFF;
    font-size:          1.5rem;
    line-height:        2rem;
    border-radius:      1rem;
    padding-top:        1rem;
    padding-bottom:     1rem;
    padding-left:       1rem;
    padding-right:      1rem;
}

.pa-class
{
    font-weight:        700;
    color:              #FFFFFF;
    font-size:          2rem;
    text-align:         center;
    line-height:        75px;
}

.icon-class
{
    font-weight:        700;
    color:              #FFFFFF;
    font-size:          1rem;
    text-align:         center;
    line-height:        35px;
}

.tooltipTxt
{
    position:           absolute;
    top:                0;
    left:               0;
    font-weight:        500;
    padding:            0.5rem;
    background:         #494949;
    color:              #FFFFFF;
    font-size:          0.75rem;
    text-align:         center;
    border-radius:      1rem;
    white-space:        pre-wrap;
}

.tooltipImg
{
    position:           absolute;
    top:                0;
    left:               0;
    width:              300px;
    height:             120px;
    background-size:    contain;
    background-repeat:  no-repeat;
}